dist/UALParser.exe
maxmind/GeoLite2-City.mmdb
code_test.ipynb
workspace.code-workspace
UALParser.spec
__pycache__/UALParser.cpython-38.pyc
build/UALParser/Analysis-00.toc
build/UALParser/base_library.zip
build/UALParser/EXE-00.toc
build/UALParser/PKG-00.pkg
build/UALParser/PKG-00.toc
build/UALParser/PYZ-00.pyz
build/UALParser/PYZ-00.toc
build/UALParser/Tree-00.toc
build/UALParser/Tree-01.toc
build/UALParser/Tree-02.toc
build/UALParser/Tree-03.toc
build/UALParser/UALParser.exe.manifest
build/UALParser/warn-UALParser.txt
build/UALParser/xref-UALParser.html
